/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
<style type="text/css">

.urbangreymenu{
width: 190px; /*width of menu*/
}

.urbangreymenu .headerbar{
font: bold 13px Verdana;
color: white;
background: #606060 no-repeat 8px 6px; /*last 2 values are the x and y coordinates of bullet image*/
margin-bottom: 0; /*bottom spacing between header and rest of content*/
margin-top: 0;
text-transform: uppercase;
padding: 7px 0 7px 0px; /*31px is left indentation of header text*/
text-align:center;
}

.urbangreymenu ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}

.urbangreymenu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
}

.urbangreymenu ul li a{
font: normal 12px Arial;
color: black;
background: #E9E9E9;
display: block;
padding: 5px 0;
line-height: 17px;
padding-left: 8px; /*link text is indented 8px*/
text-decoration: none;
}

.urbangreymenu ul li a:visited{
color: black;
}

.urbangreymenu ul li a:hover{ /*hover state CSS*/
color: white;
background: black;
}


body{
margin:0;
padding:0;
line-height: 1.5em;
	       padding: 20px; 
	       font: 86%/1.4 Arial, Verdana, sans-serif; 
	       background: #FFFFCC; color: #000;
           min-width: 640px; max-width: 1100px; 
}

a.plaintext{
color: black; text-decoration : none;
}

a.closebutton{
color: white; text-decoration : none;
}

#maincontainer{
background:#f0f0f0;
			padding: 15px 25px;
			border: solid #bbb 3px;
			width: 1100px; /*Width of main container*/
			margin: 0 auto; /*Center container on page*/
}

#topsection{
background: #EAEAEA;
height: 100px; /*Height of top section*/
border: solid #bbb 1px;
}

#topsection h1{
margin: 0;
padding-top: 15px;
}

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
 margin-right: 200px; /*Set right margin to RightColumnWidth*/
 background:#fff;
			padding: 15px 25px;
			border: solid #bbb 1px;}

#rightcolumn{
float: left;
width: 200px; /*Width of right column*/
margin-left: -200px; /*Set left margin to -(RightColumnWidth) */
/*background: #FDE95E;*/
}

#footer{
clear: left;
width: 100%;
background: black;
color: #FFF;
text-align: center;
padding: 4px 0;
}

#footer a{
color: #FFFF80;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}


/* glossary box*/

/* Need to put the glossary boxes within a span element*/
span span {position:absolute} /*span within a span*/
span span span{position:relative} /*span within a span within a span (MathML)*/
/*.glossarybox { width:200px; height:200px; padding:0.2em; position:relative; background-color:yellow; z-index:2; }*/
.glossarybox {border: solid yellow 4px; padding:1em; position:relative; background-color:white; z-index:2; opacity:1.00}
/*opacity:0.5; */

table { border: solid #bbb 1px; margin: 1em 0; clear: both;font-weight: normal; }
td {border: solid #bbb 0px; padding: 0.1em 0.75em; vertical-align: top;font: 86%/1.4 Arial, Verdana, sans-serif;  }
td.top {border: solid #bbb 0px; padding: 0.1em 0.75em; vertical-align: top;font: 86%/1.4 Arial, Verdana, sans-serif;  }

table.calculator {border: solid #bbb 0px; margin: 1em 0; clear: both;font-weight: normal;}
table.calculator td {border: solid #bbb 1px; margin: 1em 0; clear: both;font-weight: normal; padding:40; }
table.plain { border: #eee 0px solid; }

td.box { 	border: #000 1px solid; 
		width: 70%;
		background: rgb(204,204,255);
		padding: 0.5em;}

td.picbox { 	border: #000 1px solid; 
		width: 30%;
		padding: 0.5em;text-align: center;}


div.changeable{ 	border: #eee solid; 

		border-width: thin; 

		/*background: #FFFFCC;*/
		padding: 0.5em;}


a.heading {color:black; text-decoration:none}

a.heading:hover {color:black; background-color: rgb(204,204,255);} /*#CCCCFF;}*/

a.heading:visited {color:black; text-decoration:none}

a.heading:link:focus, a.heading:visited:focus {color:black; text-decoration:none}

</style>
